# Your Medusa backend, should be updated to where you are hosting your server. Remember to update CORS settings for your server. See – https://docs.medusajs.com/usage/configurations#admin_cors-and-store_cors
VITE_MEDUSA_BACKEND_URL=http://localhost:9000

# Your store URL, should be updated to where you are hosting your storefront.
VITE_BASE_URL=http://localhost:8000

# Your preferred default region. When middleware cannot determine the user region from the "x-vercel-country" header, the default region will be used. ISO-2 lowercase format. 
VITE_DEFAULT_REGION=us

# Your Stripe public key. See – https://docs.medusajs.com/add-plugins/stripe
VITE_STRIPE_KEY=

# Your PayPal Client ID. See – https://docs.medusajs.com/add-plugins/paypal
VITE_PAYPAL_CLIENT_ID=

# Your MeiliSearch / Algolia keys. See – https://docs.medusajs.com/add-plugins/meilisearch or https://docs.medusajs.com/add-plugins/algolia
VITE_SEARCH_APP_ID=
VITE_SEARCH_ENDPOINT=http://127.0.0.1:7700
VITE_SEARCH_API_KEY=
VITE_INDEX_NAME=products